{% extends 'base.html' %}
{% load static humanize %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Start main-content -->
<div class="main-content-area">

  <!-- Section: home Start -->
  <section id="home">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col">
          <!-- START Industrivo Rev Slider 2 REVOLUTION SLIDER 6.1.7 -->
          <p class="rs-p-wp-fix"></p>
          <rs-module-wrap id="rev_slider_1_1_wrapper" data-alias="industrivo-rev-slider-2" data-source="gallery"
            style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
            <rs-module id="rev_slider_1_1" style="display:none;" data-version="6.1.7">
              <rs-slides>
                <rs-slide data-key="rs-9" data-title="Slide 1" data-thumb="images/bg/bg7.jpg"
                  data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                  <img src="{% static 'images/bg/bg5.jpg' %}" title="slide1" width="1920" height="1280"
                    data-parallax="off" class="rev-slidebg" data-no-retina>
                  <rs-layer id="slider-4-slide-9-layer-18" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:45px,45px,35px,0;yo:260px,203px,233px,212px;"
                    data-text="w:normal;s:120,93,92,68;l:115,89,90,68;ls:1px,0px,0px,0px;fw:500;a:left,left,left,center;"
                    data-frame_1="st:1000;sp:1000;sR:220;" data-frame_999="o:0;st:w;sR:7790;" style="z-index:9;"
                    class="font-current-theme2">Legal iNSIGHT<br />
                    Business Instinct
                  </rs-layer>
                  <rs-layer id="slider-4-slide-9-layer-21" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:218px,170px,195px,169px;"
                    data-text="w:normal;s:22,22,21,20;l:25,19,23,22;ls:1px,0px,0px,0px;a:left,left,left,center;"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:10;font-style:italic;" class="font-current-theme1">Welcome to KM Advocates LLP
                  </rs-layer>
                  <rs-layer id="slider-4-slide-9-layer-22" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:540px,422px,448px,390px;"
                    data-text="w:normal;s:20,15,18,20;l:25,19,18,22;a:left,left,left,center;"
                    data-frame_1="st:1500;sp:1000;" data-frame_999="o:0;st:w;sR:8700;" style="z-index:8;"><a
                      href="{% url 'website:about' %}" class="btn btn-flat btn-lg btn-theme-colored1
                      text-white">Discover
                      More</a>
                  </rs-layer>
                  <rs-layer id="slider-4-slide-9-layer-33" data-type="shape" data-rsp_ch="on"
                    data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:3;background-color:rgba(0,0,0,0.5);">
                  </rs-layer>
                </rs-slide>
                <rs-slide data-key="rs-13" data-title="Slide 1" data-thumb="images/bg/bg6.jpg"
                  data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                  <img src="{% static 'images/bg/bg6.jpg' %}" title="slide2" width="1920" height="1280"
                    data-parallax="off" class="rev-slidebg" data-no-retina>
                  <rs-layer id="slider-4-slide-13-layer-18" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:45px,45px,35px,0;yo:260px,203px,233px,212px;"
                    data-text="w:normal;s:120,93,92,68;l:115,89,90,68;ls:1px,0px,0px,0px;fw:500;a:left,left,left,center;"
                    data-frame_1="st:1000;sp:1000;sR:220;" data-frame_999="o:0;st:w;sR:7790;" style="z-index:9;"
                    class="font-current-theme2">Best Law Firm <br />

                  </rs-layer>
                  <rs-layer id="slider-4-slide-13-layer-21" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:218px,170px,195px,169px;"
                    data-text="w:normal;s:22,22,21,20;l:25,19,23,22;ls:1px,0px,0px,0px;a:left,left,left,center;"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:10;font-style:italic;" class="font-current-theme1">Welcome to KM Advocates LLP
                  </rs-layer>
                  <rs-layer id="slider-4-slide-13-layer-22" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:540px,422px,448px,390px;"
                    data-text="w:normal;s:20,15,18,20;l:25,19,18,22;a:left,left,left,center;"
                    data-frame_1="st:1500;sp:1000;" data-frame_999="o:0;st:w;sR:8700;" style="z-index:8;"><a
                      href="{% url 'website:about' %}"
                      class="btn btn-flat btn-lg btn-theme-colored1 text-white">Discover
                      More</a>
                  </rs-layer>
                  <rs-layer id="slider-4-slide-13-layer-33" data-type="shape" data-rsp_ch="on"
                    data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:3;background-color:rgba(0,0,0,0.5);">
                  </rs-layer>
                </rs-slide>
                <rs-slide data-key="rs-15" data-title="Slide 1" data-thumb="images/bg/bg1.jpg"
                  data-anim="ei:d;eo:d;s:d;r:0;t:slotslide-horizontal;sl:d;">
                  <img src="{% static 'images/bg/bg5.jpg' %}" title="slide3" width="1920" height="1280"
                    data-parallax="off" class="rev-slidebg" data-no-retina>
                  <rs-layer id="slider-4-slide-15-layer-18" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:45px,45px,35px,0;yo:260px,203px,233px,212px;"
                    data-text="w:normal;s:120,93,92,48;l:115,89,90,60;ls:1px,0px,0px,0px;fw:500;a:left,left,left,center;"
                    data-frame_1="st:1000;sp:1000;sR:220;" data-frame_999="o:0;st:w;sR:7790;" style="z-index:9;"
                    class="font-current-theme2">Lib­er­ty and Jus­tice <br />
                    for Everyone
                  </rs-layer>
                  <rs-layer id="slider-4-slide-15-layer-21" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:218px,170px,195px,169px;"
                    data-text="w:normal;s:22,22,21,20;l:25,19,23,22;ls:1px,0px,0px,0px;a:left,left,left,center;"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:10;font-style:italic;" class="font-current-theme1">Welcome to KM Advocates LLP
                  </rs-layer>
                  <rs-layer id="slider-4-slide-15-layer-22" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,l,c;xo:50px,50px,40px,0;yo:540px,422px,448px,390px;"
                    data-text="w:normal;s:20,15,18,20;l:25,19,18,22;a:left,left,left,center;"
                    data-frame_1="st:1500;sp:1000;" data-frame_999="o:0;st:w;sR:8700;" style="z-index:8;"><a
                      href="{% url 'website:about' %}"
                      class="btn btn-flat btn-lg btn-theme-colored1 text-white">Discover
                      More</a>
                  </rs-layer>
                  <rs-layer id="slider-4-slide-15-layer-33" data-type="shape" data-rsp_ch="on"
                    data-text="w:normal;s:20,15,11,6;l:0,19,14,8;" data-dim="w:100%;h:100%;" data-basealign="slide"
                    data-frame_1="st:500;sp:1000;" data-frame_999="o:0;st:w;sR:8000;"
                    style="z-index:3;background-color:rgba(0,0,0,0.5);">
                  </rs-layer>
                </rs-slide>
              </rs-slides>
              <rs-static-layers>
                <!--
                    -->
              </rs-static-layers>
              <rs-progress class="rs-bottom" style="height: 5px; background: rgba(199,199,199,0.5);"></rs-progress>
            </rs-module>
            <script>
              if (typeof revslider_showDoubleJqueryError === "undefined") {
                function revslider_showDoubleJqueryError(sliderID) {
                  var err = "<div class='rs_error_message_box'>";
                  err += "<div class='rs_error_message_oops'>Oops...</div>";
                  err += "<div class='rs_error_message_content'>";
                  err +=
                    "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                  err +=
                    "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                  err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                  err += "</div>";
                  err += "</div>";
                  jQuery(sliderID).show().html(err);
                }
              }
            </script>
          </rs-module-wrap>
          <!-- END REVOLUTION SLIDER -->
        </div>
      </div>
    </div>
  </section>
  <!-- Section: home End -->

  <!-- Section: intro -->
  <section>
    <div class="container-fluid pt-0 pb-0">
      <div class="section-content">
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-xl-4 p-0 pl-lg-15 pr-lg-15">
            <div class="tm-sc-jus-feature-box mb-30">
              <div
                class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate-y pd-res-40 bg-dark">
                <div class="icon-box-wrapper">
                  <div class="icon-wrapper"><a class="icon icon-type-font-icon icon-circled icon-dark mt-10"> <i
                        class="flaticon-law-books"></i> </a></div>
                  <div class="icon-text">
                    <h5 class="aa-subtitle font-current-theme1 mt-0 mb-0 text-black-777"><span
                        class="text-theme-colored1">|</span> Try Our Services</h5>
                    <div class="content">
                      <h4 class="">Experienced Criminal Advocates</h4>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xl-4 p-0 pl-lg-15 pr-lg-15">
            <div class="tm-sc-jus-feature-box mb-30">
              <div
                class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate-y pd-res-40 bg-dark">
                <div class="icon-box-wrapper">
                  <div class="icon-wrapper"><a class="icon icon-type-font-icon icon-circled icon-dark mt-10"> <i
                        class="flaticon-law-judge-2"></i> </a></div>
                  <div class="icon-text">
                    <h5 class="aa-subtitle font-current-theme1 mt-0 mb-0 text-black-777"><span
                        class="text-theme-colored1">|</span> Try Our Services</h5>
                    <div class="content text-black-555">
                      <h4 class="">Get a Best Advice from Law Experts</h4>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6 col-xl-4 p-0 pl-lg-15 pr-lg-15">
            <div class="tm-sc-jus-feature-box mb-30">
              <div
                class="tm-sc-icon-box icon-box icon-left iconbox-centered-in-responsive iconbox-theme-colored1 animate-icon-on-hover animate-icon-rotate-y pd-res-40 bg-dark">
                <div class="icon-box-wrapper">
                  <div class="icon-wrapper"><a class="icon icon-type-font-icon icon-circled icon-dark mt-10"> <i
                        class="flaticon-law-libra"></i> </a></div>
                  <div class="icon-text">
                    <h5 class="aa-subtitle font-current-theme1 mt-0 mb-0 text-black-777"><span
                        class="text-theme-colored1">|</span> Try Our Services</h5>
                    <div class="content">
                      <h4 class="">We Protect Justice & Fight Injustice</h4>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Our Service -->
  <section class="our-service" data-tm-bg-img="images/bg/b4.jpg">
    <div class="container pb-lg-20">
      <div class="section-title">
        <div class="row justify-content-md-center">
          <div class="col-md-8">
            <div class="text-center mb-100">
              <div class="tm-sc-section-title section-title">
                <div class="title-wrapper">
                  <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">| Our
                    Expertise</h5>
                  <h2 class="text-white">Practice Areas</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content">
        {% if services %}
        <div class="row">
          {% for service in services %}
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="tm-icon-service-box">
              <div class="tm-details">
                <div class="icon"><i class="flaticon-law-courthouse text-white"></i></div>
                <h4 class="title"><a href="{{ service.get_absolute_url }}">{{service.name}}</a></h4>
                <p>{{ service.body_summary|striptags }}</p>
                <a class="text-hover-theme-colored1" href="{{ service.get_absolute_url }}"><span
                    class="fas fa-arrow-right"></span></a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- Section: About -->
  <section class="">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12 col-lg-6 mb-md-30">
            <img src="{% static 'images/LOGO.png' %}" alt="images">
          </div>
          <div class="col-sm-12 col-lg-6">
            <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">| Get to Know
              Us</h5>
            <h2>Welcome to KM Advocates LLP </h2>
            <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua lonm andhn. Aenean tincidunt id mauris id auctor. Donec at ligula lacus.
              Nulla dignissim mi quis neque interdum.</p>
            <p class="title-call font-size-20">Call Us Anytime <br class="d-block d-sm-none"><a
                class="text-theme-colored1 font-size-30" href="tel:666-888-0000"><b>666-888-0000</b></a></p>
            <a href="{% url 'website:about' %}" target="_self"
              class="btn btn-theme-colored1 btn-round btn-lg text-white">Learn
              More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-floating-objects d-none d-xl-block">
      <span class="floating-object-1 tm-animation-floating" data-tm-z-index="-1"
        data-tm-bg-img="{% static 'images/floating-objects/ob1.png' %}" data-tm-width="307" data-tm-height="250"
        data-tm-top="60%"></span>
      <span class="floating-object-2 tm-animation-flicker" data-tm-z-index="-1"
        data-tm-bg-img="{% static 'images/floating-objects/ob2.png' %}" data-tm-width="680" data-tm-height="630"
        data-tm-top="10%" data-tm-right="10%"></span>
    </div>
  </section>

  <!-- Section: Client & Partner -->
  <section class="clients-section bg-theme-colored1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

        </div>
      </div>
    </div>
  </section>
  <!-- End Divider -->
  <!-- Section: Case Status -->
  <section class="bg-img-cover" data-tm-bg-img="{% static 'images/bg/b3.jpg' %}">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-lg-5">
            <div class="mb-60">
              <div class="tm-sc-section-title section-title">
                <div class="title-wrapper">
                  <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">| Case
                    Solved
                  </h5>
                  <h2 class="text-white mt-0">Why You Need The Top Lawyers</h2>
                  <div class="tm-case-solved mt-30 mb-50">
                    <div class="tm-sc-unordered-list list-default">
                      <ul>
                        <li>The Best Lawyer Firm in Your City</li>
                        <li>100 Years Family History</li>
                        <li>Excellent Operational Model</li>
                        <li>Skilled Attorneys with Experienced</li>
                      </ul>
                    </div>
                  </div>
                  <a href="page-about.html" target="_self" class="btn btn-theme-colored1 btn-lg btn-round">Learn
                    More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-md-12">
                <div class="tm-case-solved mb-60">
                  <div class="thumb">
                    <img class="img" src="{% static 'images/coming.jpg' %}" width="300" height="100" alt="">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tm-case-solved border_right2">
                  <div
                    class="tm-sc-icon-box icon-box icon-left text-left iconbox-centered-in-responsive animate-icon-on-hover animate-icon-rotate-y mb-sm-30">
                    <div class="icon-box-wrapper">
                      <div class="icon-wrapper"> <a class="icon icon-default text-theme-colored1"> <i
                            class="fas fa-balance-scale font-size-64"></i> </a></div>
                      <div class="icon-text">
                        <h5 class="icon-box-title text-white">Serving 20 Years</h5>
                      </div>
                      <div class="content mt-10 pr-30">
                        <p>Lorem ipsum dolor sit a consetetur simple is pscing elitr sed m nonmy eirmod simply free
                          text.
                        </p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tm-case-solved">
                  <div
                    class="tm-sc-icon-box icon-box icon-left text-left iconbox-centered-in-responsive animate-icon-on-hover animate-icon-rotate-y mb-sm-30">
                    <div class="icon-box-wrapper">
                      <div class="icon-wrapper"> <a class="icon icon-default text-theme-colored1"> <i
                            class="fas fa-university font-size-64"></i> </a></div>
                      <div class="icon-text">
                        <h5 class="icon-box-title text-white">The Largest Law Firm</h5>
                      </div>
                      <div class="content mt-10 pr-30">
                        <p>Lorem ipsum dolor sit a consetetur simple is pscing elitr sed m nonmy eirmod simply free
                          text.
                        </p>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Project -->
  <section class="bg-lighter">
    <div class="container-fluid">
      <div class="section-title">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="tm-sc-section-title section-title mb-50">
              <div class="title-wrapper text-center">
                <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">|</h5>
                <h2 class="mt-0"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content">

      </div>
    </div>
    <div class="tm-floating-objects d-none d-xl-block">
      <span class="floating-object-1 tm-animation-flicker"
        data-tm-bg-img="{% static 'images/floating-objects/ob6.png' %}" data-tm-width="357" data-tm-height="337"
        data-tm-top="10%" data-tm-z-index="1" data-tm-right="1%" data-tm-left="auto"></span>
    </div>
  </section>

  <!-- Section: Why Choose -->
  <section class="why-chose-us bg-lighter">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12 col-lg-7 mb-md-30 z-index-1">
            <div class="tm-benifit">
              <img class="" src="{% static 'images/photos/s1.jpg' %}" alt="images" />
            </div>
          </div>
          <div class="col-sm-12 col-lg-5">
            <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">| Our Benefits
            </h5>
            <h2>Why Choose Our Lawyers?</h2>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
              alteration in some form.</p>
            <div class="title-box">
              <h5 class="title mt-0"><span class="fas fa-caret-right text-theme-colored1 mr-1"></span> Against of
                Any Violance</h5>
              <p>Lorem ipsum is simply free text dolor sit amet, consectetur notted</p>
            </div>
            <div class="title-box">
              <h5 class="title mt-0"><span class="fas fa-caret-right text-theme-colored1 mr-1"></span> We Never Lose
                Any Case</h5>
              <p class="mb-0">Lorem ipsum is simply free text dolor sit amet, consectetur notted</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tm-floating-objects d-none d-xl-block">
      <span class="floating-object-1 tm-animation-slide-horizontal"
        data-tm-bg-img="{% static 'images/floating-objects/ob5.png' %}" data-tm-width="376" data-tm-height="341"
        data-tm-top="70%" data-tm-right="1%" data-tm-left="auto"></span>
    </div>
  </section>

  <!-- Section: Blog -->
  <section class="">
    <div class="container">
      <div class="section-title">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-60">
              <div class="tm-sc-section-title section-title">
                <div class="title-wrapper text-center">
                  <h5 class="aa-subtitle text-theme-colored1 font-current-theme1 mt-0 mb-0 font-weight-400">| From
                    the Blog</h5>
                  <h2 class="mt-0">News & Articles</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          {% for blog in blogs %}<div class="owl-carousel owl-theme tm-owl-carousel-4col" data-nav="true"
            data-dots="true" data-autoplay="true" data-loop="true" data-duration="6000" data-smartspeed="300"
            data-margin="30" data-stagepadding="0">
            <div class="item">

              <div class="tm-sc-blog tm-justos-blog mb-lg-30">
                <article class="post type-post">
                  <div class="entry-header">
                    <div class="post-thumb lightgallery-lightbox">
                      <div class="post-thumb-inner">
                        <div class="thumb"><a href="{{blog.get_absolute_url}}">
                            <img class="img-fullwidth" src="{{blog.image.url}}" alt="{{blog.title}}"></a>
                          <div class="date bg-theme-colored1 text-center text-white">{{blog.created_at|naturalday}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="entry-content bg-transparent pt-25 pr-0 pl-0 mb-30">
                    <div class="entry-meta mt-0 pt-0 mb-0">
                      <span class="text-theme-colored1 font-weight-700 mb-10 mr-10">{{blog.author}}</span>
                      <span class="text-theme-colored1 font-weight-700 mb-10">{{blog.created_at|naturaltime}}</span>
                    </div>
                    <h4 class="entry-title mt-1 mb-20"><a href="{{blog.get_absolute_url}}"
                        rel="bookmark">{{blog.title}}</a></h4>
                    <p class="mb-0">
                      {{ blog.body_summary|striptags }}
                    </p>
                    <div class="clearfix"></div>
                  </div>
                  <div class="bottom-boder-line"></div>
                </article>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

    </div>
    <div class="tm-floating-objects d-none d-xl-block">
      <span class="floating-object-1 tm-animation-floating" data-tm-z-index="-1"
        data-tm-bg-img="images/floating-objects/ob7.png" data-tm-width="307" data-tm-height="250"
        data-tm-top="60%"></span>
    </div>
    <div class="container p-0">
      <div class="tm-widget tm-widget-subscribe widget-subscribe">
        <div class="row">
          <div class="col-lg-6">
            <div class="content">
              <h2 class="subscribe-sub-title text-white">Subscribe for Newsletter</h2>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <form id="mailchimp-subscription-form1" class="newsletter-form">
              <input type="email" value="" name="EMAIL" placeholder="Email Address" class="form-control" id="mce-EMAIL">
              <span class="input-group-btn">
                <button data-tm-height="66" class="btn btn-colored btn-flat mt-10 w-100 font-weight-bold"
                  type="submit">Subscribe Now</button>
              </span>
            </form>
          </div>
        </div>
        <!-- Mailchimp Subscription Form Validation-->
        <script>
          (function ($) {
            $('#mailchimp-subscription-form1').ajaxChimp({
              callback: mailChimpCallBack,
              url: '//thememascot.us9.list-manage.com/subscribe/post?u=a01f440178e35febc8cf4e51f&amp;id=49d6d30e1e'
            });

            function mailChimpCallBack(resp) {
              // Hide any previous response text
              var $mailchimpform = $('#mailchimp-subscription-form1'),
                $response = '';
              $mailchimpform.children(".alert").remove();
              if (resp.result === 'success') {
                $response =
                  '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                  resp.msg + '</div>';
              } else if (resp.result === 'error') {
                $response =
                  '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' +
                  resp.msg + '</div>';
              }
              $mailchimpform.prepend($response);
            }
          })(jQuery);
        </script>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock content %}