{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Start main-content -->
<div class="main-content-area">
  <!-- Section: page title -->
  <section class="page-title layer-overlay overlay-dark-9 section-typo-light bg-img-center"
    data-tm-bg-img="{% static 'images/bg/bg1.jpg' %}">
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="title">Practice Areas</h2>
            <nav class="breadcrumbs" role="navigation" aria-label="Breadcrumbs">
              <div class="breadcrumbs">
                <span class="trail-item trail-begin"><a href="{% url 'website:home' %}" rel="home">Home</a></span>
                <span><i class="fa fa-angle-right"></i></span>
                <span class="trail-item trail-end text-theme-colored1">Services</span>

              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Services -->
  <section>
    <div class="container">
      <div class="section-content">

        <div class="row">
          {% for service in object_list %}
          <div class="col-md-6 col-lg-6 col-xl-3">
            <div class="tm-icon-service-box">
              <div class="tm-details">
                <div class="icon"><i class="flaticon-law-courthouse text-white"></i></div>
                <h4 class="title"><a href="{{service.get_absolute_url}}">{{service.name}}</a></h4>
                <p>{{ service.body_summary|striptags }}</p>
                <a class="text-hover-theme-colored1" href="{{service.get_absolute_url}}"><span
                    class="fas fa-arrow-right"></span></a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </section>

  <!-- Section: Call Us Area -->
  <section class="layer-overlay overlay-theme-colored2-6 bg-img-center" data-tm-bg-img="images/bg/bg1.jpg">
    <div class="container pt-100 pb-100">
      <div class="section-content">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-xl-8">
            <div class="tm-sc-call-us text-center">
              <h5 class="text-white mb-0 mt-0">You want to discuss case in detail</h5>
              <h2 class="title2 text-white mt-0 mb-50">Call us our consultants will assist you</h2>
              <div class="phone-number-block">
                <div class="divider-phone-icon">
                  <img src="images/phone2.png" alt="">
                </div>
                <div class="divider-phone-number">
                  <h2 class="number">666 888 0000</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end main-content -->
{% endblock content %}